   <div class="col-md-12 header-title" id="landing-img">
    <div class="container-fluid">
      <div class="row">
      <h1 class="logo" id="vagabondTitle">Vagabond</h1>
      <h2 class="tag-line header-title-hgroup" id="tagline">Our Cities. Our People. Our Stories.</h2>
    </div>
  </div>
  </div>
  
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row text-center" id="about">
      <h2>Connect with people from different cities, hear their stories, and explore new destinations with local perspectives.</h2>
      <h3>Click the markers on the map to begin connecting</h3>
    </div>
  </div>

<br>
<br>


<div class-"containter-fluid">
  <div class="row text-center">
 <iframe width='80%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/aworley.n5dd7ld0/attribution,share.html?access_token=pk.eyJ1IjoiYXdvcmxleSIsImEiOiIxNGRlYmM2ZmM0YmMxY2VlZjQ4NTMyY2Q4OWQ0M2I0OSJ9.pIOJ95hk0i-6hzOvqhU7zw'></iframe>
  </div>
</div>

<br>
<br>
  