// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#storyProfile {
	text-align: center
}

#newPostButton {
	text-align: center
}

#myStoriesTitle {
	color: white
}


#storyBody {
	font-family: helvetica
}

#mainText {
	font-size: 18px
}