// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#vagabondTitle {
	letter-spacing: 25px;
	padding-top: 10px;
	font-size: 150px;
	text-align: center;
}