// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myStoryPage {
	text-align: center
}

#myStoriesTitle {
	font-size: 75px
}

#newStoryTitle {
	font-size: 50px;
	text-align: center;
	font-color: blue;
}

#buttonz {
	text-align: center
}

.storyBody {
	font-family: times-new-roman;
	font-size: 18px;
}


.mainText {
	font-size: 18px
}