// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profileTitle {
	text-align: center;
	font-size: 50px
}

#myStoriesTitle {
	text-align: center
}

#userSettings {
	text-align: center
}

#editUserForm {
	text-align: center
}

#signUpTitle {
	text-align: center
}

